# This workflow will build a MuleSoft project and deploy to CloudHub

name: Maven build Fetching "settings.xml"

on:
  pull_request:
    types:
    - closed
    - assigned
    - unassigned
    - labeled
    - unlabeled
    - edited
    - closed
    - reopened
    - synchronize
    - converted_to_draft
    - ready_for_review
    - locked
    - unlocked
    - review_requested
    - review_request_removed
    - auto_merge_enabled
    - auto_merge_disabled
    branches:
    - development
    
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout feature branch
      uses: actions/checkout@v2
      with:
        ref: feature

    - name: Checkout development branch
      uses: actions/checkout@v2
      with:
        ref: development

    - name: Get file diff
      run: |
        git diff --name-only development feature > file_changes.txt
